:root {
  --background-color-main: #E3EDF9;
  --background-table: #ffffff;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: var(--background-color-main);
}

.main_pesquisador_conteudo{
  margin: 0 auto;
  max-width: 1200px;
}

h3 {
  display: flex;
  justify-content: left;
  margin: 2rem 0 2rem 0;
}

.table_meus_projetos {
  background-color: var(--background-table);
}