:root {
  --azul-principal: #1E3E91;
  --azul-claro: #E3EDF9;
  --branco: #ffffff;
  --borda-radius: 0.5rem;
  --background-table: #ffffff;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: var(--azul-claro);
}

.main_pesquisador_conteudo{
  margin: 0 auto;
  max-width: 1200px;
}

h3 {
  display: flex;
  justify-content: left;
  margin: 2rem 0 2rem 0;
}

/* Tabela */

.conteudo_tabela {
  background-color: var(--branco);
  border-radius: var(--borda-radius);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.table_meus_projetos {
  width: 100%;
  border-collapse: collapse;
  text-align: center;

  background-color: var(--branco);
}

.table_meus_projetos thead {
  background-color: var(--azul-principal);
  color: var(--branco);
}

.table_meus_projetos th,
.table_meus_projetos td {
  padding: 1rem;
  font-size: 0.95rem;
}

.table_meus_projetos th:first-child {
  border-top-left-radius: var(--borda-radius);
}

.table_meus_projetos th:last-child {
  border-top-right-radius: var(--borda-radius);
}

/* .table_meus_projetos tbody tr {
  border-top: 1px solid #eee;
}

.table_meus_projetos tbody tr:hover {
  background-color: #f8f9fd;
} */

/* status */
.status {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 0.9rem;
  font-weight: 500;
  text-align: center;
  min-width: 120px;
}