:root {
  --azul-principal: #1E3E91;
  --azul-claro: #E3EDF9;
  --branco: #ffffff;
  --borda-radius: 0.5rem;
  --background-table: #ffffff;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: var(--azul-claro);
}

.main_pesquisador_conteudo{
  margin: 0 auto;
  max-width: 1200px;
}

h3 {
  display: flex;
  justify-content: left;
  margin: 2rem 0 2rem 0;
}

/* Tabela */

.conteudo_tabela {
  background-color: var(--branco);
  border-radius: var(--borda-radius);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.table_meus_projetos {
  width: 100%;
  border-collapse: collapse;
  text-align: center;

  background-color: var(--branco);
}

.table_meus_projetos thead {
  background-color: var(--azul-principal);
  color: var(--branco);
}

.table_meus_projetos th,
.table_meus_projetos td {
  padding: 1rem;
  font-size: 0.95rem;
}

.table_meus_projetos th:first-child {
  border-top-left-radius: var(--borda-radius);
}

.table_meus_projetos th:last-child {
  border-top-right-radius: var(--borda-radius);
}

/* .table_meus_projetos tbody tr {
  border-top: 1px solid #eee;
}

.table_meus_projetos tbody tr:hover {
  background-color: #f8f9fd;
} */

/* status */
.status {
  display: flex;
  text-align: center;
  align-items: center;  
  justify-content: center;
  gap: 0.5rem;
  font-weight: 500;
}

.status img{
  width: 1rem;
  height: 1rem;
  object-fit: contain;
}

/* Detalhes Projeto */

.detalhes_projeto{
  background-color: var(--branco);
  border-radius: .5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.sub_title_project h4{
  margin-bottom: .5rem;
}

.sub_title_project p{
  text-align: justify;
}

.status_btn_editar{
  display: flex;
  justify-content: space-between;
}

.status_projeto{
  display: flex;
  flex-direction: row ;
  gap: 0.5rem;
}

.status_projeto img{
  width: 1rem;
  height: 1rem;
  object-fit: contain;
}

.btn_editar_projeto{
  background-color: var(--azul-principal);
  padding: 0.5rem 1rem;
  border: none;
  color: var(--branco);
  border-radius: .5rem;
  font-weight: 500;
}
/* responsividade */
@media (max-width: 768px) {
  .conteudo_tabela{
    margin: 1rem 1rem;
  }

  .table_meus_projetos thead {
    display: none;
  }

  .table_meus_projetos,
  .table_meus_projetos tbody,
    .table_meus_projetos tr,
    .table_meus_projetos td 
  {
    display: block;
    width: 100%;
  }
  .table_meus_projetos tr{
    border-radius: 1rem;
    margin: 1rem;
    padding: 1rem; 
  }

  .table_meus_projetos tbody{
    background-color: var(--azul-claro);
  }

  .table_meus_projetos tr {
    margin: 0 1rem 1rem 0;
    background: var(--branco);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.8);
  }

  .titulo_projeto{
    background-color: var(--azul-principal);
    color: var(--branco);
  }

  .table_meus_projetos td {
    padding: 0.8rem 1rem;
    text-align: left;
    position: relative;
  }

  .table_meus_projetos td::before {
    content: attr(data-label);
    position: absolute;
    left: 1rem;
    top: 0.8rem;
    font-weight: bold;
    color: #333;
  }
}