.site-footer{
  margin-top: 1.5rem;                      
  padding: 0.75rem 0;                      
  background: #253D90;
  text-align: center;

    position: absolute;
    bottom: 0;

    width: 100%;
}

.footer_text{
  margin: 0;
  color: #fff;
  font-size: 1rem;
  height: 1.4rem;
  opacity: 0.9;
}

.footerSpace {
    height: 3rem;
}