html {
    padding: 0;
}

.navPesquisador {
    height: 5rem;

    width: 100%;

    background: #fff;

    padding: 0 0 0 24%;
    margin: 0;

    display: flex;
    align-items: flex-end;

    position: relative;
}

.navPesquisador-list {
    list-style-type: none;
    margin: 0;
    padding: 0;

    display: flex;
}

.navPesquisador-list__item {
    font-family: Afacad;
    font-size: 1rem;
    font-style: normal;

    text-align: center;

    height: 3rem;
    width: 10rem;
}

.--active {
    border-bottom: 0.3125rem solid #253D90;
}

.navPesquisador-profileButton {
    position: absolute;
    right: 5.78rem;
    bottom: 1rem;

    display: flex;
    align-items: center;

    cursor: pointer;
}

.navPesquisador-profileButton__img {
    width: 2.5rem;
    height: 2.5rem;

    border-radius: 100% ;

    margin: 0 0.5rem 0 0;
}

.navPesquisador-logo {
    position: absolute;
    width: 9rem;
    top: 1rem;
    left: 3rem;
    object-fit: contain;

    cursor: pointer;
}