{% extends 'base/base.html' %}

{% block content %}
    <main class="main_pesquisador_conteudo">
        <h3>Adicionar Projeto</h3>

        <div class="titulo_com_btn">
            <h3>EDITAL N° 14/2025-PROEN/IFRN</h3>
            <button class="btn-cinza">Ver arquivo</button>
        </div>

        <form action="" method="POST">
            {% csrf_token %}

            {{ form.as_p }}
            
            <h3>Dados Geais</h3>
            
            <h3>Dados do Projeto</h3>
            
            <h3>Adiçao do Projeto</h3>
        
            
            <button type="submit">Cadastrar</button>
        </form>
    </main>
{% endblock content %}