{% extends 'base/base.html' %}

{% block content %}
    <main class="main_pesquisador_conteudo">
        <h3>Editais em aberto</h3>
        {% for proposal in object_list %}
        <section class="detalhes_projeto">
            <div class="sobre_projeto sub_title_project">
                <h4 class="subtitulo_editais">{{ proposal.title }}</h4>
                <p class="paragrafo_info_editais">{{ proposal.description }}</p>
                
                    <h4 class="subtitulo_editais">Inscrições:</h4>
                
                <div class="info_btn_editais">
                    <span class="paragrafo_info_editais">{{ proposal.opening_date }} a {{ proposal.closing_date}}</span>
                    <div class="botoes_editais">
                        <button class="btn-verde" onclick="window.location.href='{% url 'pesquisador-adicionar-projeto' %}'">Adicionar Projeto</button>
                        <button class="btn-cinza">Ver Arquivo</button>
                    </div>
                </div>
            
            </div> 
        </section>
        {% endfor %}
    </main>
{% endblock content %}