{% extends './pesquisador_meus_projetos_tabela.html' %}
{% load static %}

{% block content_pesquisador %}
    <h3><a href="{% url 'pesquisador-projetos' %}">Meus Projetos</a> / Detalhes</h3>
    <section class="detalhes_projeto">
      <div class="sub_title_project">
        <h4>Sobre o Projeto: {{ submission.title }}</h4>
        <p><strong>Edital:</strong> {{ submission.proposal.title }}</p>
        <p><strong>Palavras-chave:</strong> {{ submission.keywords }}</p>
      </div>

      <div class="sub_title_project">
        <h4>Resumo</h4>
        <p>{{ submission.abstract }}</p>
      </div>

      <div class="sub_title_project">
        <h4>Comentários da Avaliação</h4>
        {% if submission.evaluation_score %}
          <p><strong>Pontos Fortes:</strong> {{ submission.evaluation_score.strength_points|default:"Não informado." }}</p>
          <p><strong>Pontos Fracos:</strong> {{ submission.evaluation_score.weak_points|default:"Não informado." }}</p>
          <p><strong>Recomendações:</strong> {{ submission.evaluation_score.recommendations|default:"Não informado." }}</p>
        {% else %}
          <p>A avaliação para este projeto ainda não está disponível.</p>
        {% endif %}
      </div>

      <div class="sub_title_project">
        <h4>Situação</h4>
        <div class="status_btn_editar">
          <div class="status_projeto">
            <p>Em avaliação</p>
            <img src="{% static 'icons/espera.svg' %}" alt=""/>
           
          </div>
          <button class="btn_editar_projeto" onclick="window.location.href='{% url 'pesquisador-projetos-detalhes-editar' submission.pk %}'">Editar projeto</button>
        </div>
      </div>
    </section>
{% endblock content_pesquisador %}
