{% extends 'base/base.html' %}

{% block content %}

  <main class="main_pesquisador_conteudo">

    {% block content_pesquisador %}
    <h3>Meus Projetos</h3>
    <section class="conteudo_tabela">
      <table class="table_meus_projetos">
        <thead>
          <tr>
            <th>Nome do Projeto</th>
            <th>Edital</th>
            <th>Data incial</th>
            <th>Data final</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
        {% for submission in submissions %}
          <tr class="titulo_projeto" onclick="window.location='{% url 'pesquisador-projetos-detalhes' submission.pk %}'" style="cursor: pointer;">
            <td>{{ submission.title }}</td>
            <td>{{ submission.proposal.title }}</td>
            <td>{{ submission.proposal.opening_date }}</td>
            <td>{{ submission.proposal.closing_date }}</td>
            <td>
              <p>{{ submission.status|default:"Em avaliação" }}</p>
            </td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="5" style="text-align: center;">Nenhum projeto encontrado.</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </section>
    {% endblock content_pesquisador %}
  </main>
{% endblock content %}