{% extends 'base/base.html' %}

{% block content %}

  <main class="main_pesquisador_conteudo">

    {% block content_pesquisador %}
    <h3>Meus Projetos</h3>
    <section class="conteudo_tabela">
      <table class="table_meus_projetos">
        <thead>
          <tr>
            <th>Nome do Projeto</th>
            <th>Edital</th>
            <th>Data incial</th>
            <th>Data final</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>   
        {% for project in object_list %}      
          <tr class="titulo_projeto" onclick="window.location='{% url 'pesquisador-projetos-detalhes' %}'">
              <td >{{ project.title }}</td>
              <td>{{ project.proposal.title }}</td>
              <td>{{ project.start_date }}</td>
              <td>{{ project.end_date }}</td>
              <td>
                <div class="status">
                  <img src="../../static/icons/espera.svg" alt="">
                  <p>Em avaliação</p>
                </div>
              </td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="5" style="text-align: center; padding: 20px;">
              <p>Nenhum projeto encontrado.</p>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </section>
    {% endblock content_pesquisador %}
  </main>
{% endblock content %}