{% extends './pesquisador_meus_projetos_tabela.html' %}

{% block content_pesquisador %}
    <h3>Meus Projetos > Detalhes</h3>
    <section class="detalhes_projeto">
      <div class="sobre_projeto sub_title_project">
        <h4>Nº 14/2025-PROEN/IFRN</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and  typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of  type and scrambled it to make a type specimen book. It has survived not  only five centuries, but also the leap into electronic typesetting,  remaining essentially unchanged. It was popularised in the 1960s with  the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker  including versions of Lorem Ipsum.</p>
      </div>
      <div class="comentarios_projeto  sub_title_project">
        <h4>Comentários</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and  typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of  type and scrambled it to make a type specimen book. It has survived not  only five centuries, but also the leap into electronic typesetting,  remaining essentially unchanged. It was popularised in the 1960s with  the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker  including versions of Lorem Ipsum.</p>
      </div>
      <div class="situacao_projeto sub_title_project">
        <h4>Situação</h4>
        <div class="status_btn_editar">
          <div class="status_projeto">
            <p>Em avaliação</p>
            <img src="../../static/icons/espera.svg" alt="">
          </div>
          <button class="btn_editar_projeto">Editar projeto</button>
        </div>
      </div>

    </section>
{% endblock content_pesquisador %}
