<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../../static/css/style.css">
</head>
<body>
  <main class="main_pesquisador_conteudo">
    <h3>Meus Projetos</h3>
    <section class="conteudo_tabela">
      <table class="table_meus_projetos">
        <thead>
          <tr>
            <th>Nome do Projeto</th>
            <th>Edital</th>
            <th>Data incial</th>
            <th>Data final</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Projeto Flow</td>
            <td>Nº 14/2025-PROEN/IFRN</td>
            <td>11/03/2025</td>
            <td>23/11/2025</td>
            <td>
              <div class="status">
                <img src="../../static/icons/aprovado.svg" alt="">
                <p>Aprovado</p>
              </div>
            </td>
          </tr>
          <tr>
            <td>Projeto Flow</td>
            <td>Nº 14/2025-PROEN/IFRN</td>
            <td>11/03/2025</td>
            <td>23/11/2025</td>
            <td>
              <div class="status">
                <img src="../../static/icons/espera.svg" alt="">
                <p>Em avaliação</p>
              </div>
            </td>
          </tr>
          <tr>
            <td>Projeto Flow</td>
            <td>Nº 14/2025-PROEN/IFRN</td>
            <td>11/03/2025</td>
            <td>23/11/2025</td>
            <td>
              <div class="status">
                <img src="../../static/icons/reprovado.svg" alt="">
                <p>Reprovado</p>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
  </main>
</body>
</html>